
<body>
    <div class="container">
        <div class="row thickrow"></div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4"><h1>SEPTEMBER</h1></div>
            <div class="col-lg-4"></div>
        </div>
        <div class="row thickrow"></div>
        <div class="row w1">
            <div class="col-lg-2"></div>
            <div class="col-lg-1 su day  d1"><a routerLink="/day">SU</a></div>
            <div class="col-lg-1 m day  d2"><a routerLink="/day">M</a></div>
            <div class="col-lg-1 tu day  d3"><a routerLink="/day">T</a></div>
            <div class="col-lg-1 w day  d4"><a routerLink="/day">W</a></div>
            <div class="col-lg-1 th day  d4"><a routerLink="/day">TH</a></div>
            <div class="col-lg-1 f day  d6"><a routerLink="/day">F</a></div>
            <div class="col-lg-1 s day  d7"><a routerLink="/day">S</a></div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row w2">
            <div class="col-lg-2"></div>
            <div class="col-lg-1 su day  d8"><a routerLink="/day">SU</a></div>
            <div class="col-lg-1 m day  d9"><a routerLink="/day">M</a></div>
            <div class="col-lg-1 tu day  d10"><a routerLink="/day">T</a></div>
            <div class="col-lg-1 w day  d11"><a routerLink="/day">W</a></div>
            <div class="col-lg-1 th day  d12"><a routerLink="/day">TH</a></div>
            <div class="col-lg-1 f day  d13"><a routerLink="/day">F</a></div>
            <div class="col-lg-1 s day  d14"><a routerLink="/day">S</a></div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row w3">
            <div class="col-lg-2"></div>
            <div class="col-lg-1 su day  d15"><a routerLink="/day">SU</a></div>
            <div class="col-lg-1 m day  d16"><a routerLink="/day">M</a></div>
            <div class="col-lg-1 tu day  d17"><a routerLink="/day">T</a></div>
            <div class="col-lg-1 w day  d18"><a routerLink="/day">W</a></div>
            <div class="col-lg-1 th day  d19"><a routerLink="/day">TH</a></div>
            <div class="col-lg-1 f day  d20"><a routerLink="/day">F</a></div>
            <div class="col-lg-1 s day  d21"><a routerLink="/day">S</a></div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row w4">
            <div class="col-lg-2"></div>
            <div class="col-lg-1 su day  d22"><a routerLink="/day">SU</a></div>
            <div class="col-lg-1 m day  d23"><a routerLink="/day">M</a></div>
            <div class="col-lg-1 tu day  d24"><a routerLink="/day">T</a></div>
            <div class="col-lg-1 w day  d25"><a routerLink="/day">W</a></div>
            <div class="col-lg-1 th day  d26"><a routerLink="/day">TH</a></div>
            <div class="col-lg-1 f day  d27"><a routerLink="/day">F</a></div>
            <div class="col-lg-1 s day  d28"><a routerLink="/day">S</a></div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row w5">
            <div class="col-lg-2"></div>
            <div class="col-lg-1 su day  d29"><a routerLink="/day">SU</a></div>
            <div class="col-lg-1 m day  d30"><a routerLink="/day">M</a></div>
            <div class="col-lg-1 tu day  d31"><a routerLink="/day">T</a></div>
            <div class="col-lg-1 w day  d32"><a routerLink="/day">W</a></div>
            <div class="col-lg-1 th day  d33"><a routerLink="/day">TH</a></div>
            <div class="col-lg-1 f day  d34"><a routerLink="/day">F</a></div>
            <div class="col-lg-1 s day  d35"><a routerLink="/day">S</a></div>
            <div class="col-lg-2"></div>
        </div>
  
    </div>
  

  </body>
  <router-outlet></router-outlet>
  
  
  