
<body>
    <div class="container">
        <div class="row thickrow"></div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4"><h1>SEPTEMBER</h1></div>
            <div class="col-lg-4"></div>
        </div>
        <div class="row thickrow"></div>
        <div class="row w1">
            <div class="col-lg-2"></div>
            <div class="col-lg-1 su day 1">SU</div>
            <div class="col-lg-1 m day 2">M</div>
            <div class="col-lg-1 tu day 3">T</div>
            <div class="col-lg-1 w day 4">W</div>
            <div class="col-lg-1 th day 4">TH</div>
            <div class="col-lg-1 f day 6">F</div>
            <div class="col-lg-1 s day 7">S</div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row w2">
            <div class="col-lg-2"></div>
            <div class="col-lg-1 su day 8">SU</div>
            <div class="col-lg-1 m day 9">M</div>
            <div class="col-lg-1 tu day 10">T</div>
            <div class="col-lg-1 w day 11">W</div>
            <div class="col-lg-1 th day 12">TH</div>
            <div class="col-lg-1 f day 13">F</div>
            <div class="col-lg-1 s day 14">S</div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row w3">
            <div class="col-lg-2"></div>
            <div class="col-lg-1 su day 15">SU</div>
            <div class="col-lg-1 m day 16">M</div>
            <div class="col-lg-1 tu day 17">T</div>
            <div class="col-lg-1 w day 18">W</div>
            <div class="col-lg-1 th day 19">TH</div>
            <div class="col-lg-1 f day 20">F</div>
            <div class="col-lg-1 s day 21">S</div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row w4">
            <div class="col-lg-2"></div>
            <div class="col-lg-1 su day 22">SU</div>
            <div class="col-lg-1 m day 23">M</div>
            <div class="col-lg-1 tu day 24">T</div>
            <div class="col-lg-1 w day 25">W</div>
            <div class="col-lg-1 th day 26">TH</div>
            <div class="col-lg-1 f day 27">F</div>
            <div class="col-lg-1 s day 28">S</div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row w5">
            <div class="col-lg-2"></div>
            <div class="col-lg-1 su day 29">SU</div>
            <div class="col-lg-1 m day 30">M</div>
            <div class="col-lg-1 tu day 31">T</div>
            <div class="col-lg-1 w day 32">W</div>
            <div class="col-lg-1 th day 33">TH</div>
            <div class="col-lg-1 f day 34">F</div>
            <div class="col-lg-1 s day 35">S</div>
            <div class="col-lg-2"></div>
        </div>
  
    </div>
  

  </body>
  <router-outlet></router-outlet>
  
  
  