body{
    background-color: rgb(15, 15, 15) !important;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

.day{
    background-color: rgb(15, 15, 15) !important;
    color: rgb(100, 100, 120);
    margin-left: 1px;
    margin-bottom: 1px;
    height: 240px !important;
    padding-top: 10px;
}

.thickrow{
    height: 10px;
}

h2{
    color: rgb(255, 0, 251);
}



input, textarea{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    background-color: rgb(220, 220, 220) !important;
    border-width: 0px !important;
}

button{
    border-color: rgb(255, 0, 251) !important;
    border-width: 1px !important;
    font-size: small !important;
}

.col-lg-4{
    position: relative;
}

.h2{
    position: relative;
    left: 40%;
}

iframe{
    width: 600px;
    height: 400px;
}

.backtocal{
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: white;
}

