

    <body>
        <div class="container">
            <div class="row thickrow"></div>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="h2">
                        <h2>MAP</h2>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
            <div class="row thickrow"></div>
            <div class="row rowday">
                <div class="col-lg-4"></div>

                <div class="col-lg-4 day">

                    <form>
                        <div class="form-group">
                                <label for="start">START</label>
                                <input type="text" class="form-control" id="start">
                        </div>
                        <div class="form-group">
                                <label for="destination">DESTINATION</label>
                                <input type="text" class="form-control" id="destination">
                        </div>

                        <button type="submit" class="btn btn-dark">Submit</button>
                        <button class="btn btn-dark backtocal">
                                <a routerLink="/day">Back to Appointment</a>
                        </button>
                    </form>

                </div>

                <div class="col-lg-4"></div>
            </div>
            <div class="row thickrow"></div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11909.682278854236!2d-72.674234!3d41.76268635000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1568055574661!5m2!1sen!2sus"></iframe>
                </div>
                <div class="col-lg-3"></div>
            </div>
           

        </div>




 
    </body>
    <router-outlet></router-outlet>
